
// text colors
.text--white {
  color: white;
}

.text--grey {
  color: $grey;
}

.text--blue, .highlight {
  color: $brand-primary;
}

// background colors

.bg--white {
  background-color: #fff;
}

.bg--blue {
  background-color: $brand-primary;
}
