// vertical alignment helpers
.vertical-center--inline{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: -4px;
    vertical-align: middle;
  }
}

.vertical-align--middle {
  vertical-align: middle;
}

.vertical-align--bottom {
  vertical-align: bottom;
}

.vertical-align--top {
  vertical-align: top;
}

// width helpers
.full-width {
  width: 100%;
}

.small--full-width {
  @media #{$medium-max}{
    width: 100%;
  }
}

// Mute an object by reducing its opacity.
//===================

.muted{
  @include opacity(0.5);
}

.overflow-x {
  overflow-x: auto;
}

.relative{
  position: relative;
}

.clickable{
  cursor: pointer;
}

.c-f{
  clear: both;
}

.o-h{
  overflow: hidden;
}

.mobile--only{
  @media screen and (min-width: #{$screen-large} - 1) {
    display: none !important;
  }
}

.desktop--only{
  @media screen and (max-width: #{$screen-large} - 1) {
    display: none !important;
  }
}

.d-b{
  display: block;
}

.ps-r{
  position: relative;
}

.rotate-180{
  @include rotate(180deg);
  color: $brand-primary;
}
