.p-t-20{
	padding-top: 20px;
}
.p-y-10{
	padding-top: 10px;
	padding-bottom: 10px;
}

@media #{$medium-max} {
	.mobile{
		&-m-t-0{
			margin-top: 0 !important;
		}

		&-m-b-0{
			margin-bottom: 0 !important;
		}

		&-m-r-0{
			margin-right: 0 !important;
		}

		&-m-l-0{
			margin-left: 0 !important;
		}

		&-m-y-0{
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}

		&-m-x-0{
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		&-m-t-sm{
			margin-top: 15px !important;
		}

		&-m-b-sm{
			margin-bottom: 15px !important;
		}

		&-m-r-sm{
			margin-right: 15px !important;
		}

		&-m-l-sm{
			margin-left: 15px !important;
		}

		&-m-y-sm{
			margin-top: 15px !important;
			margin-bottom: 15px !important;
		}

		&-m-x-sm{
			margin-left: 15px !important;
			margin-right: 15px !important;
		}

		&-m-t-md{
			margin-top: 30px !important;
		}

		&-m-b-md{
			margin-bottom: 30px !important;
		}

		&-m-r-md{
			margin-right: 30px !important;
		}

		&-m-l-md{
			margin-left: 30px !important;
		}

		&-m-y-md{
			margin-top: 30px !important;
			margin-bottom: 30px !important;
		}

		&-m-x-md{
			margin-left: 30px !important;
			margin-right: 30px !important;
		}
	}
}
