.footer{
  &-main {
    &__content{
      background-color: #EBEBEB;
      padding: 20px 0;

      @media #{$medium-max} {
        padding: 20px;
      }
    }

    &__copyright {
      background-color: #494949;
      padding: 20px 0;
      text-align: center;

      p {
        font-family: Arial, sans-serif;
      }
    }

    &__wrapper {
      @include flexbox;

      @media #{$extra-small-max} {
        @include flex-direction(column);
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    &__widget {
      width: 16.66%;

      @media #{$extra-small-max} {
        width: 100%;
        text-align: center;
      }
    }

    &__list {
      padding-right: 50px;

      @media #{$extra-small-max} {
        padding: 0;
      }
    }

    &__title {
      color: #16A5C7;
      font-size: 18px;
      border-bottom: 1px solid #bbb;
      padding-bottom: 15px;

      @media #{$extra-small-max} {
        padding: 20px 0 15px 0;
      }
    }

    &__item {
      display: block;
      margin: 3px 0;
      padding: 3px 0;
    }

    &__link {
      font-family: Arial, sans-serif;
    }
  }
}
