.header {
  &-main {
    padding: 15px 0;

    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);

    @media #{$extra-small-max} {
      @include flex-direction(column);
      text-align: center;
    }

    &__nav {
      @include flexbox;
      @include align-items(center);

      @media #{$extra-small-max} {
        @include flex-direction(column);
        text-align: center;
        width: 80%;
      }
    }

    &__menu {
      @media #{$extra-small-max} {
        width: 100%;
      }
    }

    &__search{
      @media #{$extra-small-max} {
        width: 100%;
        margin-top: 20px;
      }

      &-input {
        background: #ccc;
        border: 0;
        padding: 5px;
        color: $brand-primary;

        @include placeholder($brand-primary);

        @media #{$extra-small-max} {
          padding: 10px;
          width: 70%;
        }
      }

      &-submit {
        border: 0;
        padding: 4px;
        vertical-align: bottom;
        margin-left: -7px;

        @include bg-gradient($fuccia, $fuccia-dark);

        @media #{$extra-small-max} {
          padding: 9px;
        }
      }

      &-icon {
        color: #fff;
        font-size: 14px;
      }
    }
  }

  &-middle{
    background-color: $brand-primary;
    padding: 10px 0;

    &__wrapper {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);

      @media #{$medium-max} {
        @include flex-direction(column);
      }

      @media #{$extra-small-max} {
        text-align: center;

        @include flex-direction(column);
      }
    }
  }
}
