.wrapper {
  &-main {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}

.content {
  &-main {
    margin: 35px;

    @include flexbox;

    @media #{$extra-small-max} {
      @include flex-direction(column);
    }

    &__title {
      color: $brand-primary;
      font-size: 22px;
      text-align: center;
      margin-top: 0
    }

    &__item {
      width: 33.33%;
      padding: 0 3%;
      border-right: 1px solid #ccc;
      text-align: center;

      @media #{$extra-small-max} {
        width: 100%;
        border: 0;
        padding: 25px 3%;
        border-bottom: 1px solid #ccc;
      }

      &:last-child {
        border: 0;
        margin-right: 0;
      }
    }

    &__image {
      margin-bottom: 15px;
    }
  }
}
