.menu {
  &-main {

    @media #{$extra-small-max} {
      margin: 15px 0;
    }
    &__item {
      padding: 22px;
      text-transform: uppercase;
      color: $brand-primary;
      font-size: 17px;
      position: relative;
      cursor: pointer;

      @media #{$medium-max} {
        padding: 22px 10px;
        font-size: 15px;
      }

      @media #{$small-max} {
        padding: 22px 7px;
        font-size: 13px;
      }

      @media #{$extra-small-max} {
        display: block;
        padding: 10px 0;
      }

      .sub-menu {
        display: none;
      }

      &:hover {
        color: darken($brand-primary, 10%);
        .sub-menu {
          display: block;
        }
      }
    }
  }

  &-middle {
    &__item {
      padding: 10px;

      @media #{$extra-small-max} {
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }

    &__link {
      color: #fff;
      text-transform: uppercase;
      padding: 5px 8px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  &-social {
    @include flexbox;
    @include align-items(center);

    @media #{$medium-max} {
      margin-top: 15px;
    }

    @media #{$extra-small-max} {
      @include flex-direction(column);
      margin: 20px 0;
    }

    .social-list {
      margin-left: 15px;

      @media #{$extra-small-max} {
        margin-left: 0;
        margin-top: 15px;
      }

      &__icon {
        color: #fff;
        font-size: 24px;
        line-height: 24px;

        @media #{$extra-small-max} {
          font-size: 28px;
          padding: 0 5px;
        }

        &:hover {
          color: $fuccia;
        }
      }
    }
  }
}

.sub-menu {
  position: absolute;
  background-color: $grey;
  border: 1px solid $border-color;
  min-width: 170px;
  padding: 15px;
  margin-top: 8px;
  box-shadow: 3px 3px 7px -2px rgba(0,0,0,.2);
  z-index: 99;

  @media #{$extra-small-max} {
    min-width: 100%
  }

  &:before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    top: -8px;
    position: absolute;

    @media #{$extra-small-max} {
      left: 46%;
    }
  }

  li {
    font-size: 13px;
    padding: 2px 0;
    margin: 1px 0;
    display: block;

    @media #{$extra-small-max} {
      margin: 5px 0;
      padding: 5px 0;
    }
  }
}
