.slider {
  &-main{
    height: 65vh;
    position: relative;
    background-color: #888;

    @media #{$medium-max} {
      height: 35vh;
    }

    @media #{$small-max} {
      height: 55vh
    }

    @media #{$extra-small-max} {
      height: 180px;
    }

    &__item {
      width: 100%;
      height: 65vh;
      position: absolute;
      z-index: 10;
      opacity: 0;

      @include transitions(0.5s);

      @media #{$medium-max} {
        height: 35vh;
      }

      @media #{$small-max} {
        height: 55vh
      }

      @media #{$extra-small-max} {
        height: 180px;
      }

      &.active{
        z-index: 11;
        opacity: 1;
      }
    }
  }

  &-home {
    position: relative;
  }

  &-arrows {
    position: absolute;
    z-index: 15;
    border: 0;
    background: none;
    font-size: 45px;
    color: #5a5a5a;
    cursor: pointer;
    padding: 10px;
    top: calc(50% - 55px);

    @media #{$extra-small-max} {
      top: calc(90% - 55px);
    }

    &:hover {
      color: #888;
    }

    &--prev {
      left: 20px;
      @media #{$extra-small-max} {
        left: 0;
      }
    }

    &--next {
      right: 20px;
      @media #{$extra-small-max} {
        right: 0;
      }
    }
  }
}
