$blue:                   #004964;
$grey:                   #ECEEEF;
$fuccia:                 #F05FB5;
$fuccia-dark:            #E32B99;

$brand-primary:         $blue !default;
$brand-default:         $brand-primary;

$border-color:          #CCCCCC;

$color-brand:           #f5f5dc;

$body-bg:               #ffffff;
$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%); // #278b9e
$color-text-body:       #6E6A6C;

// State

$success:                #6EBB93;
