@mixin bg-gradient($color-from, $color-to) {
  background: #{$color-from}; /* Old browsers */
  background: -moz-linear-gradient(top, #{$color-from} 0%, #{$color-to} 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #{$color-from} 0%,#{$color-to} 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #{$color-from} 0%,#{$color-to} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-from}', endColorstr='#{$color-to}',GradientType=0 ); /* IE6-9 */
}
