@mixin transitions($time: 0.5s, $type: all){
  -webkit-transition: $type $time ease-in-out;
  -moz-transition: $type $time ease-in-out;
  -o-transition: $type $time ease-in-out;
  transition: $type $time ease-in-out;
}

@mixin rotate($deg: 0deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}
