.btn{
  display: inline-block;
  cursor: pointer !important;
  text-transform: uppercase;
  font-family: $font-primary;
  font-size: 12px;
  padding: 10px 20px;
  text-align: center;
  border: 0;
  border-radius: 1px;
  @extend .no-selection;
  @extend .transitions-all;

  &--primary{
    color: #fff;
    background: $brand-primary;
    max-width: 250px;
    @media #{$large-max} {
      max-width: vhsize-lg(250px);
    }

    &:hover{
      background: darken($brand-primary, 10%);
      color: #fff;
    }
  }

  &--outline{
    color: $brand-primary;
    background: #fff;
    border: 2px solid $brand-primary;
    max-width: 250px;

    &-white{
      color: #fff;
      background: transparent;
      border: 2px solid #fff;
      max-width: 400px;
      padding: 10px 60px;
      &:hover{
        background: #fff;
        color: $brand-primary;
      }
    }

    &:hover{
      background: $brand-primary;
      color: #fff;
    }
  }

  &--white{
    background-color: #fff;
    padding: 12px 60px;
    &:hover{
      background-color: $brand-primary;
      color: #fff;
    }
  }
}
