* {
  outline: 0;
  @include box-sizing(border-box);
  &:before,
  &:after {
    @include box-sizing(border-box);
  }
}

// Body reset

html {
  font-size: em($font-size-base, 16);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

body {
  background-size: 100%;
  font-family: $font-primary;
  font-weight: $font-weight-base;
  font-size: 1em;
  line-height: $line-height-base;
  color: $color-text-body;
  background-color: $body-bg;
}

// Links

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus();
  }
}

a, button{
  cursor: pointer;
}

ul{
  padding:0;
  margin:0;
  li{
    display: inline-block;
  }
}

.no-selection{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transitions-all{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hide, .hidden,
.display-none, .d-n{
  display: none;
}

.m-center{
  margin-left: auto;
  margin-right: auto;
}

.select-like-input{
  -webkit-appearance: textfield;
   -moz-appearance:    textfield;
   appearance:         textfield;
}

.has-background-image {
  background-size: cover;
  background-position: center top;
}
