.title-small{
	font-size: $font-size-small;
	font-weight: bold;
	font-family: $font-primary;
	margin: 0;
	color: $brand-primary;
}

.title-medium{
	font-size: $font-size-large;
	font-weight: bold;
	font-family: $font-primary;
	color: $brand-primary;
}
